{# @var plugin \calips\cfaccess\CloudflareAccess #}
{# @var settings \calips\cfaccess\models\Settings #}

{% import '_includes/forms.twig' as forms %}


{{ forms.booleanMenuField({
    first: true,
    label: 'Enabled'|t('cloudflare-access'),
    name: 'enable',
    value: settings.enable,
    instructions: 'Enable logging in using Cloudflare Access.'|t('cloudflare-access'),
    includeEnvVars: true,
}) }}

{{ forms.booleanMenuField({
    first: true,
    label: 'Enforce'|t('cloudflare-access'),
    name: 'enforce',
    value: settings.enforce,
    instructions: 'Disable logging in by username and password.'|t('cloudflare-access'),
    includeEnvVars: true,
}) }}

<hr>

<h2>
    {{ 'Cloudflare Settings'|t('cloudflare-access') }}
</h2>

{{ forms.autosuggestField({
    label: 'Team domain'|t('cloudflare-access'),
    name: 'issuer',
    value: settings.issuer,
    placeholder: 'example.cloudflareaccess.com'|t('cloudflare-access'),
    instructions: 'Enter the team domain used for Cloudflare Zero Trust.<br>This is a domain name which ends with <code>.cloudflareaccess.com</code>. You can find your team domain in the Cloudflare Zero Trust dashboard under Settings → General Settings.'|t('cloudflare-access'),
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    label: 'Application Audience (AUD) Tag'|t('cloudflare-access'),
    instructions: 'Enter the Application Audiance (AUD) Tag.<br>You can find this tag under your application settings, on the Overview tab. Don\'t confuse it with the Application ID.'|t('cloudflare-access'),
    name: 'aud',
    value: settings.aud,
    suggestEnvVars: true,
}) }}

<a href="{{ cpUrl('utilities/cf-access-test') }}" target="_blank">
    {{ 'Verify your settings'|t('cloudflare-access') }}
</a>
